<log4net>

  <logger name="NormalLogs">
    <level value="ALL" />
    <appender-ref ref="WSComptaPlusFile" />
  </logger>

  <logger name="WebInOutLogs">
    <level value="ALL" />
    <appender-ref ref="WebInOutLogsFile" />
  </logger>

  <logger name="TokenAccessLogs">
    <level value="ALL" />
    <appender-ref ref="TokenAccessLogsFile" />
  </logger>

  <appender name="TokenAccessLogsFile" type="log4net.Appender.RollingFileAppender">
    <file value="D:\LogsIIsTP\" />
    <datePattern value="yyyy-MM-dd'-TokenAccessLogsFile.log'" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="WSComptaPlusFile" type="log4net.Appender.RollingFileAppender">
    <file value="D:\LogsIIsTP\" />
    <datePattern value="yyyy-MM-dd'-WSComptaPlus.log'" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="WebInOutLogsFile" type="log4net.Appender.RollingFileAppender">
    <file value="D:\LogsIIsTP\" />
    <datePattern value="yyyy-MM-dd'-WebInOutLogs.log'" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>
</log4net>