<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="Environment" value="DevClaude" />
    <add key="EnvironmentEnum" value="Dev" />
    <add key="ServiceGroup" value="NVL_Dynamics_ERP" />

    <!-- DevNsi -->
    <add key="DevNsi.UriString" value="http://10.250.16.90:51180/ServiceComptaPlus.svc" />
    <add key="DevNsi.ActiveDirectoryResource" value="http://194.78.49.21:51190/ServiceComptaPlus.svc" />
    <add key="DevNsi.ActiveDirectoryTenant" value="" />
    <add key="DevNsi.ActiveDirectoryClientAppId" value="" />
    <add key="DevNsi.ActiveDirectoryClientAppSecret" value="" />
    <add key="DevNsi.ErpVersion" value="" />
    <add key="DevNsi.TLSVersion" value="" />
    <add key="DevNsi.UsersAllowedToUseService" value="user1|pwuser1;user2|pwuser2;user3|pwuser3;" />
    <add key="DevNsi.TokenDaysLife" value="7" />
    <add key="DevNsi.PrivateTokenKey" value= "401b09eab3c013d4ca54922bb802bec8fd5318192b0a75f201d8b3727429090fb337591abd3e44453b954555b7a0812e1081c39b740293f765eae731f5a65ed1" />
    <add key="DevNsi.CodeRetourLoginOk" value="7777" />
    <add key="DevNsi.CodeRetourLoginKO" value="9999" />
    <add key="DevNsi.LogConfiguration_Verbose_Normal_Nolog" value="Verbose" />
    
    <!-- DevClaude -->
    <add key="DevClaude.UriString" value="https://tp-devaos.sandbox.ax.dynamics.com/" />
    <add key="DevClaude.ActiveDirectoryResource" value="https://tp-devaos.sandbox.ax.dynamics.com" />
    <add key="DevClaude.ActiveDirectoryTenant" value="https://login.windows.net/thomaspirongroupe.onmicrosoft.com" />
    <add key="DevClaude.ActiveDirectoryClientAppId" value="378fdf10-bf69-45c4-a5c4-2bdfd977bca8" />
    <add key="DevClaude.ActiveDirectoryClientAppSecret" value="qbW/upDfpKm50KazNkp0fGtDCY1Zj+j40+6XMilEZDE=" />
    <add key="DevClaude.ErpVersion" value="" />
    <add key="DevClaude.TLSVersion" value="" />
    <add key="DevClaude.UsersAllowedToUseService" value="user1|pwuser1;user2|pwuser2;user3|pwuser3;" />
    <add key="DevClaude.TokenDaysLife" value="7" />
    <add key="DevClaude.PrivateTokenKey" value= "401b09eab3c013d4ca54922bb802bec8fd5318192b0a75f201d8b3727429090fb337591abd3e44453b954555b7a0812e1081c39b740293f765eae731f5a65ed1" />
    <add key="DevClaude.CodeRetourLoginOk" value="7777" />
    <add key="DevClaude.CodeRetourLoginKO" value="9999" />
    <add key="DevClaude.LogConfiguration_Verbose_Normal_Nolog" value="Verbose" />

    <!-- Nsi -->
    <add key="Nsi.UriString" value="https://usnconeboxax1aos.cloud.onebox.dynamics.com/" />
    <add key="Nsi.ActiveDirectoryResource" value="https://usnconeboxax1aos.cloud.onebox.dynamics.com" />
    <add key="Nsi.ActiveDirectoryTenant" value="https://login.windows.net/nsiax.onmicrosoft.com" />
    <add key="Nsi.ActiveDirectoryClientAppId" value="85b83e60-5670-45a8-a011-fbae519410a5" />
    <add key="Nsi.ActiveDirectoryClientAppSecret" value="pOag1YewhMh7MzXkaoeIJMlfVuUiUzE4LhJp/iq8mbE=" />
    <add key="Nsi.ErpVersion" value="" />
    <add key="Nsi.TLSVersion" value="" />
    <add key="Nsi.UsersAllowedToUseService" value="user1|pwuser1;user2|pwuser2;user3|pwuser3;" />
    <add key="Nsi.TokenDaysLife" value="7" />
    <add key="Nsi.PrivateTokenKey" value= "401b09eab3c013d4ca54922bb802bec8fd5318192b0a75f201d8b3727429090fb337591abd3e44453b954555b7a0812e1081c39b740293f765eae731f5a65ed1" />
    <add key="Nsi.CodeRetourLoginOk" value="7777" />
    <add key="Nsi.CodeRetourLoginKO" value="9999" />
    <add key="Nsi.LogConfiguration_Verbose_Normal_Nolog" value="Verbose" />

    <!-- DevTp -->
    <add key="DevTp.UriString" value="https://tp-devaos.sandbox.ax.dynamics.com/" />
    <add key="DevTp.ActiveDirectoryResource" value="https://tp-devaos.sandbox.ax.dynamics.com" />
    <add key="DevTp.ActiveDirectoryTenant" value="https://login.windows.net/thomaspirongroupe.onmicrosoft.com" />
    <add key="DevTp.ActiveDirectoryClientAppId" value="378fdf10-bf69-45c4-a5c4-2bdfd977bca8" />
    <add key="DevTp.ActiveDirectoryClientAppSecret" value="qbW/upDfpKm50KazNkp0fGtDCY1Zj+j40+6XMilEZDE=" />
    <add key="DevTp.ErpVersion" value="" />
    <add key="DevTp.TLSVersion" value="" />
    <add key="DevTp.UsersAllowedToUseService" value="user1|pwuser1;user2|pwuser2;user3|pwuser3;" />
    <add key="DevTp.TokenDaysLife" value="7" />
    <add key="DevTp.PrivateTokenKey" value= "401b09eab3c013d4ca54922bb802bec8fd5318192b0a75f201d8b3727429090fb337591abd3e44453b954555b7a0812e1081c39b740293f765eae731f5a65ed1" />
    <add key="DevTp.CodeRetourLoginOk" value="7777" />
    <add key="DevTp.CodeRetourLoginKO" value="9999" />
    <add key="DevTp.LogConfiguration_Verbose_Normal_Nolog" value="Verbose" />

    <!-- TestTp -->    
    <add key="TestTp.UriString" value="https://tp-devaos.sandbox.ax.dynamics.com/" />
    <add key="TestTp.ActiveDirectoryResource" value="https://tp-devaos.sandbox.ax.dynamics.com" />
    <add key="TestTp.ActiveDirectoryTenant" value="https://login.windows.net/thomaspirongroupe.onmicrosoft.com" />
    <add key="TestTp.ActiveDirectoryClientAppId" value="378fdf10-bf69-45c4-a5c4-2bdfd977bca8" />
    <add key="TestTp.ActiveDirectoryClientAppSecret" value="qbW/upDfpKm50KazNkp0fGtDCY1Zj+j40+6XMilEZDE=" />
    <add key="TestTp.TLSVersion" value="" />
    <add key="TestTp.TLSVersion" value="" />
    <add key="TestTp.UsersAllowedToUseService" value="user1|pwuser1;user2|pwuser2;user3|pwuser3;" />
    <add key="TestTp.TokenDaysLife" value="7" />
    <add key="TestTp.PrivateTokenKey" value= "401b09eab3c013d4ca54922bb802bec8fd5318192b0a75f201d8b3727429090fb337591abd3e44453b954555b7a0812e1081c39b740293f765eae731f5a65ed1" />
    <add key="TestTp.CodeRetourLoginOk" value="7777" />
    <add key="TestTp.CodeRetourLoginKO" value="9999" />
    <add key="TestTp.LogConfiguration_Verbose_Normal_Nolog" value="Verbose" />
    
    

    <!-- *******************************************************************
                            Développement SIDE
         *******************************************************************
    -->

    <!-- 
    @@@@@@@@@@@@@@
    ENVIRONNEMENT de DEVELOPEMENT (DEV)
    @@@@@@@@@@@@@@@@ 
    -->

    <!-- *********** Informations client des bases de données TP ************* -->

    <!-- Nom de l'instance SQL pour la GTP -->
    <add key="Dev.GTP_InstanceServerGtp" value="10.250.16.33\OURSQLDVP" />
    <!-- Nom de la base de données du GTP -->
    <add key="Dev.GTP_DataBaseGTP" value="DONNEESGTP3" />
    <!-- Utilisateur pour la connexion au SERVER SQL -->
    <add key="Dev.GTP_UserConnection" value="sa" />
    <!-- Mot de passe crypter pour la connexion au SERVER SQL -->
    <add key="Dev.GTP_PassWordConnection" value="JdDmbpNDX3Y=" />
    <!-- Nom de la table LOG du Web Service (suivi des opérations du Web Service.) -->
    <add key="Dev.GTP_NameTableLogWs" value="[CPT].[LogWebServices]" />
    <!-- Nom de la table des interfaces de Compta Plus  -->
    <add key="Dev.GTP_NameTableTrInterfaceWs" value="[CPT].[TrInterfaces]" />
    <!-- Nom de la table des Web Service de Compta Plus-->
    <add key="Dev.GTP_NameTableTrWebServices" value="[CPT].[TrWebServices]" />
    <!-- Nom de la table des messages pour Compta Plus -->
    <add key="Dev.GTP_NameTableTrError" value="[CPT].[MessagesComptaPlus]" />
    <!-- Nom de la table des connexions TP -->
    <add key="Dev.GTP_NameTableConnectionTP" value="[dbo].[GAR_COPIECC2]" />
    <!-- Nom de la table des sociétés TP -->
    <add key="Dev.GTP_NameTableSocietyTP" value="[dbo].[STR_Societe2]" />

    <!-- *********** Informations générales ************* -->
    <!-- Type d'environnement TP -->
    <add key="Dev.TPEnvironnement" value="DEV" />
    <add key="Dev.TypeConnexionSqlServer" value="Dbmssocn" />

    <add key="Dev.AcceptChekAddPcmn" value="0" />


    <!-- 
    @@@@@@@@@@@@@@
    ENVIRONNEMENT de TEST (TEST)
    @@@@@@@@@@@@@@@@ 
    -->

    <!-- *********** Informations client des bases de données TP ************* -->

    <!-- Nom de l'instance SQL pour la GTP -->
    <add key="Test.GTP_InstanceServerGtp" value="10.250.16.33\OURSQLDVP" />
    <!-- Nom de la base de données du GTP -->
    <add key="Test.GTP_DataBaseGTP" value="DONNEESGTP" />
    <!-- Utilisateur pour la connexion au SERVER SQL -->
    <add key="Test.GTP_UserConnection" value="sa" />
    <!-- Mot de passe crypter pour la connexion au SERVER SQL -->
    <add key="Test.GTP_PassWordConnection" value="" />
    <!-- Nom de la table LOG du Web Service (suivi des opérations du Web Service.) -->
    <add key="Test.GTP_NameTableLogWs" value="[CPT].[LogWebServices]" />
    <!-- Nom de la table des interfaces de Compta Plus  -->
    <add key="Test.GTP_NameTableTrInterfaceWs" value="[CPT].[TrInterfaces]" />
    <!-- Nom de la table des Web Service de Compta Plus-->
    <add key="Test.GTP_NameTableTrWebServices" value="[CPT].[TrWebServices]" />
    <!-- Nom de la table des messages pour Compta Plus -->
    <add key="Test.GTP_NameTableTrError" value="[CPT].[MessagesComptaPlus]" />
    <!-- Nom de la table des connexions TP -->
    <add key="Test.GTP_NameTableConnectionTP" value="[GAR_COPIECC]" />
    <!-- Nom de la table des sociétés TP -->
    <add key="Test.GTP_NameTableSocietyTP" value="[STR_Societe]" />

    
    
    <!-- *********** Informations générales ************* -->
    <!-- Type d'environnement TP -->
    <add key="Test.TPEnvironnement" value="TEST" />

    <add key="Test.AcceptChekAddPcmn" value="0" />

    <!--
    Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
    -->

    <!--
    <add key="Environment" value="DeveloppementDb" />
    <add key="ServiceGroup" value="ServiceComptaPlus" />
    -->

    <!-- DéveloppementDb -->
    <add key="DeveloppementDb.Serveur" value="10.250.16.33\OURSQLDVP" />
    <add key="DeveloppementDb.BaseDonneesMetier" value="BakDataSql" />
    <add key="DeveloppementDb.BaseDonneesGtp" value="DONNEESGTP3" />
    <add key="DeveloppementDb.TableLog" value="CPT_LogWebServices" />
    <add key="DeveloppementDb.Utilisateur" value="sa" />
    <add key="DeveloppementDb.MotPasse" value="JdDmbpNDX3Y=" />

    <!-- Production -->
    <add key="DProductionDb.Serveur" value="10.250.16.33\OURSQLDVP" />
    <add key="ProductionDb.BaseDonneesMetier" value="BakDataSql" />
    <add key="ProductionDb.BaseDonneesGtp" value="DONNEESGTP3" />
    <add key="ProductionDb.TableLog" value="CPT_LogWebServices" />
    <add key="ProductionDb.Utilisateur" value="sa" />
    <add key="ProductionDb.MotPasse" value="JdDmbpNDX3Y=" />

    <!-- Test -->
    <add key="TestDb.Serveur" value="10.250.16.33\OURSQLDVP" />
    <add key="TestDb.BaseDonneesMetier" value="BakDataSql" />
    <add key="TestDb.BaseDonneesGtp" value="DONNEESGTP3" />
    <add key="TestDb.TableLog" value="CPT_LogWebServices" />
    <add key="TestDb.Utilisateur" value="sa" />
    <add key="TestDb.MotPasse" value="JdDmbpNDX3Y=" />    
    
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm" />
  </system.web>

  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpEndpointBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <services>
      <service name="WSComptaPlus.ServiceComptaPlus" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="WSComptaPlus.IServiceComptaPlus" behaviorConfiguration="web" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

  </system.serviceModel>

  <system.webServer>
    <directoryBrowse enabled="true" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
