<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Environment" value="DevNSILocalHttps" />
    <add key="ServiceGroup" value="ServiceComptaPlus" />

    <!-- Développement NSI -vers local -->
    <add key="DevNSILocal.UriString" value="http://10.26.26.101:81/ServiceComptaPlus.svc" />
    <add key="DevNSILocal.ActiveDirectoryResource" value="" />
    <add key="DevNSILocal.ActiveDirectoryTenant" value="" />
    <add key="DevNSILocal.ActiveDirectoryClientAppId" value="" />
    <add key="DevNSILocal.ActiveDirectoryClientAppSecret" value="" />
    <add key="DevNSILocal.ErpVersion" value="" />

    <!-- Développement NSI -vers local Https-->
    <add key="DevNSILocalHttps.UriString" value="https://10.26.26.101/ServiceComptaPlus.svc" />
    <add key="DevNSILocalHttps.ActiveDirectoryResource" value="" />
    <add key="DevNSILocalHttps.ActiveDirectoryTenant" value="" />
    <add key="DevNSILocalHttps.ActiveDirectoryClientAppId" value="" />
    <add key="DevNSILocalHttps.ActiveDirectoryClientAppSecret" value="" />
    <add key="DevNSILocalHttps.ErpVersion" value="" />

    <!-- Développement NSI vers Plus-Int-->
    <add key="DevNSIPlusInt.UriString" value="http://10.250.16.90:51171/ServiceComptaPlus.svc" />
    <add key="DevNSIPlusInt.ActiveDirectoryResource" value="" />
    <add key="DevNSIPlusInt.ActiveDirectoryTenant" value="" />
    <add key="DevNSIPlusInt.ActiveDirectoryClientAppId" value="" />
    <add key="DevNSIPlusInt.ActiveDirectoryClientAppSecret" value="" />
    <add key="DevNSIPlusInt.ErpVersion" value="" />

    <!-- Développement NSI vers Plus-Int Https-->
    <add key="DevNSIPlusIntHttps.UriString" value="https://10.250.16.90/ServiceComptaPlus.svc" />
    <add key="DevNSIPlusIntHttps.ActiveDirectoryResource" value="" />
    <add key="DevNSIPlusIntHttps.ActiveDirectoryTenant" value="" />
    <add key="DevNSIPlusIntHttps.ActiveDirectoryClientAppId" value="" />
    <add key="DevNSIPlusIntHttps.ActiveDirectoryClientAppSecret" value="" />
    <add key="DevNSIPlusIntHttps.ErpVersion" value="" /> 


  </appSettings>
  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
